<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <title>Index Page</title>
</head>
<body>
<form action="/welcome" method="POST">
    <div>
        <label for="name">Name: </label>
         <input type="text" name="name" value="Rose" >
         <label for="age">Age: </label>
         <input type="text" id="age" name="age" value="17">
         <button type="submit">Submite Query</button>
        </div>
    </form>
</body>
</html>