
    <h2>Items in you Cart (<%=total %>)</h2>
        <% for (const item of carShoppingProducts) { %>
            <div class="item">
                <h3>Q: (<%= item.quantity %>) <%= item.name %> </h3>
                <p>Price: US$ <%= item.price %></p>
            </div>
        <% } %>

