<aside>
    <h3>New products</h3>
    <ul>
        <li>Nice wallet</li>
        <li>Red  hat</li>
    </ul>
    <H3>Offers of the Week</H3>
    <ul>
        <li>High hills</li>
        <li>Rings</li>
        <li>Nickles</li>
    </ul>
</aside>